@font-face {
    src: url("font/AppleSDGothicNeoB.ttf");
    font-family: "apple";
}
.all {
    height: 844px;
    width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-bar-flex {
    padding-top: 3px;
}
.nav-bar-community {
    height: 30px;
    width: 100vw;
    background-color: rgb(236, 232, 231);
    display: grid;
    grid-template-columns: 0.5fr 4fr 5.5fr 1.5fr;
    padding-top: 13px;
    padding-bottom: 7px;
}
.nav-bar-community > :nth-child(1) {
    margin-left: 10px;
    font-size: 21px;
    margin-right: 10px;
}
.nav-bar-community > :nth-child(2) {
    margin-right: 20px;
    font-size: 14px;
    align-items: bottom;
}
.nav-bar-community > :nth-child(3) {
    margin-right: 20px;
    font-size: 15px;
    text-align: left;
    vertical-align: bottom;
    padding-top: 2px;
}
.nav-bar-community > :nth-child(4) {
    margin-right: 20px;
    height: 30px;
}
body {
    padding: 0;
    margin: 0;
    font-family: "apple";
}
.list {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}
.chat {
    display: grid;
    grid-template-columns: 0.5fr 8.5fr 1fr;
    height: 70px;
    margin-bottom: 25px;
}
.chat > :nth-child(1) {
    margin-right: 10px;
    height: 60px;
}
.chatTitle {
    font-size: 14px;
}
.chatContents {
    font-size: 16px;
    width: 210px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 4px;
}
.redDot {
    color: red;
}
.chatB {
    display: flex;
    flex-direction: cloumn;
}
.chatC {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_chat {
    height: 55px;
    background-color: black;
    width: 100vw;
    bottom: 0px;
    position: fixed;
    color: white;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.footer_chat > :nth-child(1) {
    margin-left: 20px;
    height: 50px;
}
.txtbox {
    width: 350px;
    border-radius: 60px;
    height: 40px;
}
.footer_chat > :nth-child(3) {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    height: 50px;
}
